.App {
  text-align: center;
  overflow-x: hidden; /* 防止横向滚动条 */
  overflow-y: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: fallDown 1s infinite; /* 应用新的动画 */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*@keyframes fallDown {*/
/*  from {*/
/*    top: -100px; !* 开始位置 *!*/
/*  }*/
/*  to {*/
/*    top: 90vh; !* 结束位置，视视口高度而定 *!*/
/*  }*/
/*}*/

.star {
  width: 1px;
  height: 10px;
  background-color: #EAEDF3;
  position: absolute;
  top: 10px; /* 初始位置在屏幕外 */
  animation: fallDown 3s infinite; /* 循环动画 */
}

@keyframes fallDown {
  0% {
    opacity: 0;
    /*transform: translateY(-10px);*/
    transform: translate(0px,0px);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    /*transform: translateY(90vh);*/
    transform: translate(90vh,90vw);
    opacity: 0;
  }
}
